Flask==0.10.1
Flask-Bootstrap==3.3.0.1
Flask-WTF==0.10.3
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.1
Werkzeug==0.9.6
argparse==1.2.1
beautifulsoup4==4.3.2
gunicorn==19.1.1
itsdangerous==0.24
nltk==3.0.0
requests==2.5.0
wsgiref==0.1.2
